// Container & Breakpoints

$containerWidth: 1170;
$containerSidePadding: 0;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Colors
$primary: #000000;
$secondary: #777777;
$secondary-light: #D6D6D6;
$background: #F4F4F4;
$white: #FFFFFF;
$accent: #FFCF26;
$green: #11BE75;
